[submodule "Black/vendor/spdlog"]
	path = Black/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Black/vendor/GLFW"]
	path = Black/vendor/GLFW
	url = https://github.com/TheCherno/glfw
